@font-face {
    font-family: 'Monotype Corsiva';
    src: url('../Fonts/Monotype Corsiva.ttf');
}



.container {
    font-family: 'Monotype Corsiva'; 
    text-align: center;
    color: lightslategray;
    font-size: 30px;
    white-space: pre-line;
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 50px 0px 0px 0px;
    width: 100%
}

.google-maps-container > div > div {
    height: 400px
}

p.noPadding {
    padding: 0px;
}