.display-list,
.flex-wrapper,
.list-item,
.form-container,
.rsvp-list {
  display: flex;
}

.flex-wrapper,
.form-container,
.list-item,
.display-list, .rsvp-list {
  align-items: center;
}

.rsvp-list {
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  font-family: 'Monotype Corsiva';
  color: lightslategray;
}
.rsvp-list h2,
.rsvp-list h4 {
  letter-spacing: 1px;
  align-self: center;
  margin: 8px;
}

.flex-wrapper {
  justify-content: space-around;
  width: 70%;
  margin-top: 30px;
}

.form-container {
  align-self: flex-start;
  margin-bottom: 20px;
}

.rsvp-list button,
.rsvp-list input {
  outline: none;
  border: none;
}

.rsvp-list input {
  width: 260px;
  height: 30px;
  padding-left: 10px;
  background: none;
  color: #E843A0;
  font-size: 15px;
  border: 1px solid #777DA7;
  border-radius: 2px;
}
.rsvp-list input:focus {
  background: white;
}

.rsvp-list button {
  width: 32px;
  height: 32px;
  margin: 4px;
  background: #E843A0;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  transition: .3s all;
  border-radius: 2px;
}
.rsvp-list button:disabled {
  background: #80DED9;
  opacity: 0.8;
  transition: .3s all;
}

.close {
  width: 15px;
  height: 15px;
  background: #ea51a7;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  color: white;
  font-size: 16px;
}

.list-item {
  margin: 10px 0;
  color: #777DA7;
  justify-content: space-between;
  padding: 5px 10px;
  width: 300px;
  font-size: 30px;
}
.list-item:hover {
  transition: .7s all ease;
  color: #E843A0;
  animation: 0.4s bounce infinite;
}

.list-anim-enter {
  opacity: 0;
  transition: 500ms all ease;
}

.list-anim-enter-active {
  opacity: 1;
  transition: 500ms all ease;
  transform: rotateX(360deg);
}

.list-anim-leave {
  opacity: 1;
  transition: 500ms all;
}

.list-anim-leave-active {
  opacity: 0;
  transition: 500ms all;
  transform: translateX(20px);
}

.display-list {
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.display-list h5 {
  margin-bottom: 6px;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
.people-list {
  margin: 20px;
}



label {
  display: inline-block;
  color: lightslategray;
  cursor: pointer;
  position: relative;
}
label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 2px solid lightslategray;
  border-radius: 50%;
  vertical-align: -6px;
  margin-right: 10px;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: lightslategray;
  position: absolute;
  transform: rotate(45deg);
  top: 11px;
  left: 7px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: lightslategray;
  position: absolute;
  transform: rotate(305deg);
  top: 14px;
  left: 8px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}
label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label span {
  background-color: #fff;
  transform: scale(1.25);
}
input[type="checkbox"]:checked + label span:after {
  width: 10px;
  background: #1790b5;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label span:before {
  width: 5px;
  background: #1790b5;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label:hover span {
  background-color: #fff;
  transform: scale(1.25);
}
input[type="checkbox"]:checked + label:hover span:after {
  width: 10px;
  background: #1790b5;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label:hover span:before {
  width: 5px;
  background: #1790b5;
  transition: width 150ms ease 100ms;
}

