@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


@font-face {
  font-family: 'Monotype Corsiva';
  src: url('../Fonts/Monotype Corsiva.ttf');
}

.bg-1 { 
    background-color: bisque; /* Green */
    color: #ffffff;
    height: 200px;
  }
  
  .navbar-custom{
    background-color: rgb(156, 206, 206);
    font-family: 'Monotype Corsiva';
    font-size: 2em;
  }

.dropdown-menu > li {
  height: 50px;
  font-size: 2em;

}
.dropdown-menu > li > a {
  color: lightslategray;
}

a {
  color: darkslategray;
  margin: 10px 0px;
}
