@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


@font-face {
  font-family: 'Monotype Corsiva';
  src: url('../Fonts/Monotype Corsiva.ttf');
}


  
.navbar-custom{
  background-color: rgb(156, 206, 206);
  font-family: 'Monotype Corsiva';
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1920 - 300)));
}

.dropdown-menu > li {
  height: 50px;
  font-size: 2em;

}
.dropdown-menu > li > a {
  color: lightslategray;
}




nav ul li a {
  position: relative;
  color: darkslategray;
  margin: 10px 0px;
}


nav ul li a {
  transition: all 2s;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 0%;
  content: ' ';
  color: transparent;
  background: #aaa;
  height: 1px;
  opacity: 0;
  text-align: left;
}


nav ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: lightslategray;
  }
}