@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


@font-face {
  font-family: 'Monotype Corsiva';
  src: url('../Fonts/Monotype Corsiva.ttf');
}

.bg-1 { 
    background-color: bisque; /* Green */
    color: #ffffff;
    height: 200px;
  }
  
  .navbar-custom{
    background-color: bisque;
    font-family: 'Monotype Corsiva';
    font-size: 20px;
  }

.dropdown-menu > li {
  height: 40px;
  font-size: 20px;

}
.dropdown-menu > li > a {
  color: lightslategray;
}
