.header-image {
  background-image: url('./Resources/header.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: calc(100px + (300 - 100) * ((100vw - 300px) / (1920 - 300)));
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Monotype Corsiva'; 
  color: whitesmoke;
  text-align: center;
  white-space: pre-line;
  font-size: calc(20px + (60 - 20) * ((100vw - 300px) / (1920 - 300)));
}

.container {
  font-family: 'Monotype Corsiva'; 
  text-align: center;
  color: lightslategray;
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1920 - 300)));
  white-space: pre-line;
  margin: 0px 0px 0px 0px;
  border: 0px 0px 0px 0px;
  padding: 30px 0px 0px 0px;
  width: 100%
}

.btn {
  padding: 10px 20px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}
